/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@mantine/core/styles.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 224, 231, 255;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
} */

body {
  box-sizing: border-box;
  @apply bg-blue-500 text-white-100;
}

.todo-container {
  @apply h-[80vh] w-[90vw] sm:w-[60vw] md:w-[60vw] bg-white-500 border-stone-100 border-2 m-3 rounded-md flex flex-col justify-center
    items-center drop-shadow-2xl;
}
